.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div, button {
  margin: 15px;
}

.nav-left-margin {
  margin-left: 100px;
}

.search-button {
  border: solid 1px black;
  border-radius: 25px;
  padding: 0 24px;
}

.search-button:hover {
  background: black;
  color: white;
}

.a:hover {
  color: white;
}

/* .App-border {
  background-color: rgba(240, 240, 240, 1);
} */
